<section>
  <h1>
    <b>FIND AN EVENT</b>
  </h1>
  
  <!--
  <div class = 'search'>
    <p>
      <input type="text" placeholder="Search events...">
    </p>
  </div>

 
  <p>
    Filter by:
    <button class = 'filters' id = 'fName'>Name</button>
    <button class = 'filters' id = 'fDate'>Date</button>
    <button class = 'filters' id = 'fLocation'>Location</button> 
    <button class = 'filters' id = 'fFood'>Food</button> 
    <button class = 'filters' id = 'fFavorited'>Favorited</button>
  </p>-->

  <p *ngIf="isAdmin">
    <button>Add Event</button>
  </p>
  
  <p *ngIf="!ready; else show">
    Please wait...
  </p>
  
  <ng-template #show>
    <button class = 'a' *ngFor="let e of events">
      <div class = 'aName'>
        <b>{{e.event_name}}</b>
      </div>
      <div class = 'aDate'>
        <i>{{e.event_date | date:'longDate'}}</i>
      </div>
    </button>
  </ng-template> 
</section>

<style>
  section {
    width: 70%;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
  }

  button.filters {
    padding-left: 0.2%;
    padding-right: 0.2%;
    text-align: center;
    width: 6%;
    margin-right: 0.5%;
  }

  button.a {
    display: block;
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
    text-align: center;
    width: 20%;
    height: 160px;
    padding: 1%;
    word-wrap: normal;
    border: 2px solid rgb(153, 184, 241);
    background-color: rgb(185, 210, 238);
  }

  div.aName {
    font-size: 1.5em;
  }

  button.a:hover {
    background-color: rgb(145, 173, 235);
  }
</style>