<h2 mat-dialog-title>{{e.event_name}}</h2>
<div mat-dialog-content>
    <ul>
        <li>
            <p><b>What: </b>{{e.event_desc}}</p>
        </li>
        <li>
            <p><b>When: </b>{{e.event_date}} from {{e.food_start_time}} to {{e.food_end_time}}</p>
        </li>
        <li>
            <p><b>Where: </b>{{e.event.location}}</p>
        </li>
        <li>
            <b>Food Warnings: </b>
                <ul>
                    <li>
                        <b>Gluten free: </b>{{e.gluten_free}}
                    </li>
                    <li>
                        <b>Halal: </b>{{e.halal}}
                    </li>
                    <li>
                        <b>Kosher: </b>{{e.kosher}}
                    </li>
                    <li>
                        <b>Vegetarian: </b>{{e.vegetarian}}
                    </li>
                    <li>
                        <b>Vegan: </b>{{e.vegan}}
                    </li> 
                </ul>
        </li>
    </ul>
</div>