<h3>
  List of Events
</h3>

<p *ngIf="isAdmin">
  <button>Add Event</button>
</p>

<p *ngIf="!ready; else show">
  Please wait ...
</p>

<ng-template #show>
  <p *ngFor="let e of events">
    <b>{{e.event_name}}</b>
    <br>
    <i>{{e.event_date | date:'longDate'}}</i>
    <br>
    {{e.event_location}}
  </p>

  
  <table *ngFor="let e of events">
    <th>{{e.event_name}}</th>
    <tr>{{e.event_date | date:'longDate'}}</tr>
    <tr>{{e.event_location}}</tr>
  </table>
</ng-template>

<style>
  ul {
    list-style-type: none;
    text-align: center;
  }

  table {
    text-align: center;
    float: left;
    border: 1px solid black;
    margin: 15px;
    table-layout: auto;
    height: 120px;
    width: 200px;
    word-wrap: normal;
  }

  table:hover {
    background-color: royalblue;
  }
</style>